{% if site.post_license %}

<DIV style="font-size:12px;BORDER-BOTTOM: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; BACKGROUND: #f6f6f6; HEIGHT: 120px; BORDER-TOP: #bbbbbb 1px solid; BORDER-RIGHT: #bbbbbb 1px solid" class=oec2003right> 
<DIV style="MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 5px; MARGIN-RIGHT: 10px"> 
<IMG alt="" src="http://www.gravatar.com/avatar/f174b807078512e658f34796ff85c47d?s=160" width=100 height=100></DIV> 
<DIV style="LINE-HEIGHT: 200%; MARGIN-TOP: 10px; COLOR: #000000"> 

作者： <A href="http://wang9262.github.io">VongLo</A> <BR> 
出处： <A href="http://wang9262.github.io">http://wang9262.github.io</A> 
<BR>本文基于<a target="_blank" title="署名-非商业性使用-相同方式共享 3.0 中国大陆" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/"> 
署名-非商业性使用-相同方式共享 3.0 中国大陆</a>许可协议发布<br/>欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文链接以及作者（上方两项信息）否则：保留追究法律责任的权利。 
</DIV></DIV> 
{% endif %}