<link href='{{ site.baseurl }}/images/fav.png' rel='shortcut icon'>
<link href='{{ site.baseurl }}/stylesheets/style.css' rel='stylesheet' type='text/css' />
<link href='{{ site.baseurl }}/stylesheets/syntax.css' rel='stylesheet' type='text/css' />
<link href='{{ site.baseurl }}/stylesheets/responsive.css' rel='stylesheet' type='text/css' />
<link href="{{ site.baseurl }}/feed.xml" rel="alternate" type="application/rss+xml">
<script src='{{ site.baseurl }}/javascripts/jquery.js' type='text/javascript'></script>
<script src='{{ site.baseurl }}/javascripts/basics.js' type='text/javascript'></script>
<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
<!-- {% if site.google_analytics_id %}
  {% include ga.html %}
{% endif %} -->

<!--鼠标左键显示积分-->
<script type="text/javascript">
$("html,body").click(function(e){
    anp(e);
});

function anp(e){
    var n=Math.round(Math.random()*10);
    var $i=$("<b>").html("♥"); //"E94F06"
    var x=e.pageX,y=e.pageY;
    $i.css({top:y-20,left:x,position:"absolute",color:"#"+(Math.random()*0xfff<<0).toString(16)});
    $("body").append($i);
    $i.animate({top:y-400,opacity:0,"font-size":"1.4em"},1500,function(){
        $i.remove();
    });
    e.stopPropagation();
}
</script>