<link href='{{ site.baseurl }}/images/fav.png' rel='shortcut icon'>
<link href='{{ site.baseurl }}/stylesheets/style.css' rel='stylesheet' type='text/css' />
<link href='{{ site.baseurl }}/stylesheets/syntax.css' rel='stylesheet' type='text/css' />
<link href='{{ site.baseurl }}/stylesheets/responsive.css' rel='stylesheet' type='text/css' />
<link href="{{ site.baseurl }}/feed.xml" rel="alternate" type="application/rss+xml">
<script src='{{ site.baseurl }}/javascripts/jquery.js' type='text/javascript'></script>
<script src='{{ site.baseurl }}/javascripts/basics.js' type='text/javascript'></script>
<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
<!-- {% if site.google_analytics_id %}
  {% include ga.html %}
{% endif %} -->

<!--
<link rel="stylesheet" type="text/css" href="https://stackedit-beta.herokuapp.com/res-min/themes/default.css">
-->

<!--add tanf 2014-07-25-->
<script>
  $(function(){
    $("a").each(function(){
      $this = $(this);
      
      var href = $this.attr("href");
      //排除
      if(href.substring(0,1) === '#'){
        console.log(href);
        continue;
      }
      
      //如果没有指定target，那么就认为是markdown的连接
      var target = $this.attr("target");
      if(!target){
        $this.attr("target", "_blank");
      }
      /*
      var href = $this.attr("href");
      if(href.substring(0,4) === 'http'){
        $this.attr("target", "_blank");
      }
      */
    });
  });
</script> 
