{% comment %}
<!-- baidu  -->
<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2f5aeda711b150999418d004294fe4a6' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<!-- CNZZ -->
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000197216'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000197216%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
  
  
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1872349" charset="utf-8"></script>

<!-- GoStats JavaScript Based Code -->
<script type="text/javascript" src="http://gostats.cn/js/counter.js"></script>
<script type="text/javascript">_gos='monster.gostats.cn';_goa=469994;
_got=7;_goi=3;_goz=0;_god='hits';_gol='';_GoStatsRun();</script>
<noscript><a target="_blank" title="" 
href="http://gostats.cn"><img alt="" 
src="http://monster.gostats.cn/bin/count/a_469994/t_7/i_3/z_0/show_hits/counter.png" 
style="border-width:0" /></a></noscript>
<!-- End GoStats JavaScript Based Code -->